services:
  redis-cluster-1:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6379:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-2:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6380:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-3:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6381:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-4:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6382:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-5:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6383:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-6:
    image: redis:latest
    network_mode: "host"
    volumes:
      - ./redis/cluster/6384:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
  redis-cluster-starter:
    image: redis:latest
    network_mode: "host"
    scale: 0
    command: redis-cli --cluster create 127.0.0.1:6379 127.0.0.1:6380 127.0.0.1:6381 127.0.0.1:6382 127.0.0.1:6383 127.0.0.1:6384 --cluster-replicas 1
    depends_on:
      - redis-cluster-1
      - redis-cluster-2
      - redis-cluster-3
      - redis-cluster-4
      - redis-cluster-5
      - redis-cluster-6
#  redis:
#    image: redis:latest
#    network_mode: "host"
#    volumes:
#      - redis_data:/data
#      - ./redis/master:/usr/local/etc/redis
#    command: redis-server /usr/local/etc/redis/redis.conf
#  redis-replica:
#    image: redis:latest
#    network_mode: "host"
#    volumes:
#      - redis_replica_data:/data
#      - ./redis/replica:/usr/local/etc/redis
#    command: redis-server /usr/local/etc/redis/redis.conf
#  redis-sentinel-1:
#    image: redis:latest
#    network_mode: "host"
#    volumes:
#      - redis_sentinel_1_data:/data
#      - ./redis/sentinels/1:/usr/local/etc/redis
#    command: redis-server /usr/local/etc/redis/sentinel.conf --sentinel
#  redis-sentinel-2:
#    image: redis:latest
#    network_mode: "host"
#    volumes:
#      - redis_sentinel_2_data:/data
#      - ./redis/sentinels/2:/usr/local/etc/redis
#    command: redis-server /usr/local/etc/redis/sentinel.conf --sentinel
#  redis-sentinel-3:
#    image: redis:latest
#    network_mode: "host"
#    volumes:
#      - redis_sentinel_3_data:/data
#      - ./redis/sentinels/3:/usr/local/etc/redis
#    command: redis-server /usr/local/etc/redis/sentinel.conf --sentinel
volumes:
  redis_data:
    driver: local
  redis_replica_data:
    driver: local
  redis_sentinel_1_data:
    driver: local
  redis_sentinel_2_data:
    driver: local
  redis_sentinel_3_data:
    driver: local
